@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Roboto+Slab:wght@500&family=Source+Sans+Pro:wght@200;400;600&display=swap');

body{
    background-color: #EEE;
    padding: 1em;
}

.newspaper-container
{
    background-color: #FFF;
    width: 700px;
    border-radius: 3%;
    padding: 1em;
    box-shadow: 10px 10px #DDD;
    margin:auto;
}
main h5 {
    color: #DD3232;
}
nav {
    margin:auto;
    padding: 0em;
    text-align: center;
    border-top: 1px solid #777;
    border-bottom: 1px solid #777;
    position:sticky;
    top:0px;
    background-color: white;
}

nav a {
    color: #777;
    text-decoration: none; 
    font-size:0.8em;
    padding:5px;
}

nav li {
    display:inline-block;
    list-style: none;
    
}

h1{
    text-align: center;
    font-weight:bolder;
    font-size: 3em;    
}

section
{
    display: inline-block;    
    margin:auto;    
}
.more-articles section
{    
    width:300px;
    padding: 20px 20px;
}
.three-more-articles section
{    
    width:200px;
    padding: 10px 10px;
}
img{
    display: block;
}
main img{    
    width:675px;
}
.more-articles img{      
    width:325px;
}
.three-more-articles img{      
    width:175px;
    height:150px;
}
main p{    
    padding: 5px 1px 5px 10px;
    text-align:justify;
}
.more-articles p{      
    padding: 5px 1px 5px 10px;
    text-align:justify;
}
.more-articles {
    border-top:1px solid #777;
}
